.content__dashboard{
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: space-between;
}
.buton-bar{
    background: transparent;
    border-radius: 6px;
    position: absolute;
    top: 0.6rem;
    right: 1rem;
    padding: 3px 9px 0;
    &.center-button{
        right: 0;
        left: 0;
        margin: auto;
        display: inline-block;
        width: 40px;
    }
}