<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="text-default mb-5">Bienvenido, {{ user.name }}</h1>
      <h6>Enlaces</h6>
    </div>
    <div class="col-12 col-lg-3">
      <app-card
        title="Calculadora"
        link="/calculator"
        icon="calculator"
      ></app-card>
    </div>
    <div class="col-12 col-lg-3">
      <app-card
        title="Toma de muestras"
        link="/sampling"
        icon="sampling"
      ></app-card>
    </div>
    <div class="col-12 col-lg-3">
      <app-card title="Noticias" link="/news" icon="news"></app-card>
    </div>
    <div class="col-12 mt-5" *ngIf="samplings.length > 0">
      <app-bars samplings="{{ samplings }}"></app-bars>
    </div>
  </div>
</div>
