<form action="" class="login__create" id="login-up">
    <h1 class="login__title">Create Account</h1>

    <div class="login__box">
        <i class='bx bx-user login__icon'></i>
        <input type="text" placeholder="Usuario" class="login__input">
    </div>

    <div class="login__box">
        <i class='bx bx-at login__icon'></i>
        <input type="text" placeholder="Email" class="login__input">
    </div>

    <div class="login__box">
        <i class='bx bx-lock-alt login__icon'></i>
        <input type="password" placeholder="Contraseña" class="login__input">
    </div>

    <button href="#" class="login__button">Registrarme</button>
</form>